<a href="https://colab.research.google.com/github/wenchun0731/city-hunter/blob/main/%E3%80%8C%E9%80%A3%E6%8E%A5%EF%BC%ADysql_ipynb%E3%80%8Dnew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#下載mysql connector
!pip install mysql-connector-python

#import相關套件
import mysql.connector
import pandas.io.sql as sql

#連結到資料庫
config = {
    'user':'113403',
    'password':'@All3403@',
    'host':'140.131.114.242',
    'database':'113-law'
}
cnx=mysql.connector.connect(**config)
cursor = cnx.cursor()

#使用SQL語法讀取資料表
df=sql.read_sql('select * from testapp_car;',cnx)

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 86.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

<ipython-input-1-619a029c5308>:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=sql.read_sql('select * from testapp_car;',cnx)

In [3]:
df

    id license_plate           date_time    location violation  seconds
0   12       AAA1111 2024-05-30 11:15:00      TAIPEI         0      0.0
1   13       AAA1111 2024-05-24 12:00:00  NEW TAIPEI         1      0.0
2   14       AAA1234 2024-05-24 10:20:00     KEELUNG         0      0.0
3   15       ABC1111 2024-05-15 04:15:00     KEELUNG         1      0.0
4   16       ABC1234 2024-06-01 06:01:00     TAOYUAN         0      0.0
5   17       BBB2222 2024-06-04 06:04:00      XINZHU         1      0.0
6   18       CCC3333 2024-06-02 06:22:00      MIAOLI         0      0.0
7   19       DDD4444 2024-06-03 06:03:00    TAICHUNG         1      0.0
8   20       EEE5555 2024-06-05 05:05:00    CHANGHUA         0      0.0
9   21       FFF6666 2024-05-06 05:06:00      NANTOU         0      0.0
10  22       GGG7777 2024-05-20 05:20:00      YUNLIN         1      0.0
11  23       HHH8888 2024-05-05 05:10:00      CHIAYI         1      0.0
12  24       III9999 2024-05-30 10:05:00   KAOHSIUNG         0      0.0
13  25       JJJ0000 2024-05-25 20:05:00    PINGTUNG         1      0.0
14  26       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
15  27       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
16  28       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
17  29       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
18  31       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
19  32       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
20  33       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
21  34       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
22  35       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
23  36       BKY7610 2024-05-15 10:10:00      Taipei         0      0.0
24  37       AGP5659 2024-05-15 10:10:00      Taipei         0      0.0
25  38       BNT6302 2024-05-15 10:10:00      Taipei         0      0.0
26  39       BNT6302 2024-05-15 10:10:00      Taipei         0      0.0
27  40       AGP3659 2024-05-15 10:10:00      Taipei         0      0.0
28  41      AUM.0392 2024-05-15 10:10:00      Taipei         0      0.0
29  42       AUM0392 2024-05-15 10:10:00      Taipei         0      0.0
30  43       AGR2213 2024-05-15 10:10:00      Taipei         0      0.0
31  44       ASE8375 2024-05-15 10:10:00      Taipei         0      0.0
32  45       AUM0392 2024-05-15 10:10:00      Taipei         0      0.0
33  46      AUM.0392 2024-05-15 10:10:00      Taipei         0      0.0
34  47       ABC9876 2024-08-14 10:00:00  NEW TAIPEI         0      0.0
35  48       BBC5566 2024-08-13 11:11:00      TAIPEI     False      0.0
36  49       CBA1234 2024-08-08 08:08:00  NEW TAIPEI     False      0.0
37  55       AAA1116 2024-08-13 06:06:00      TAIPEI       闖紅燈      0.0
38  56       AAA1117 2024-08-12 10:20:00      TAIPEI       闖紅燈      0.0
39  57       AAA1118 2024-08-15 12:00:00      TAIPEI     未禮讓行人      0.0
40  58    ARQ3857\n
 2024-05-15 10:10:00      Taipei         0     10.0
41  59       AAA1234 2024-09-30 10:10:00      Taipei    Taipei      5.0

In [6]:
import pandas as pd
from datetime import datetime

# 獲取當前時間並格式化
current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

text = 'BAA1234'  # 車牌
data = {
    'license_plate': [text],
    'date_time': [current_time],  # 使用當下時間
    'location': ['TAIPEI'],
    'violation': ['闖紅燈'],  # 填闖紅燈或未禮讓行人
    'seconds': [5.00],  # 違規當下的秒數
}

df = pd.DataFrame(data)

In [7]:
# SQL插入语句
add_violation = ("INSERT INTO testapp_car "
                 "(license_plate, date_time, location, violation, seconds) "
                 "VALUES (%s, %s, %s, %s, %s)")

# 将DataFrame中的每一行数据插入到数据库中
for index, row in df.iterrows():
    data_violation = (row['license_plate'], row['date_time'], row['location'], row['violation'], row['seconds'])
    cursor.execute(add_violation, data_violation)

# 提交事务
cnx.commit()

In [ ]:
# 关闭游标和连接
cursor.close()
cnx.close()